---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config/site";
---

<Layout title={siteConfig.title}>
  <Header transition:persist />
  <main
    class="flex-grow pt-24 pb-margin-desktop md:pb-32 px-margin-mobile md:px-margin-desktop w-full max-w-7xl mx-auto space-y-24 md:space-y-32"
    transition:name="page-main"
  >
    <Hero />
    <About />
    <Skills />
    <Contact />
  </main>
  <Footer transition:persist />
</Layout>
